<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>JNS ERP</title>
</head>

<body class="home">
    <h1>Welcome to JNS Interiers!</h1>

    <div class="buttons">
        <a href="/onboarding" class="btn yellow">ONBOARDING</a>
        <a href="/inbound_payments" class="btn green">INBOUND PAYMENTS ENTRY</a>
        <a href="/outbound_payments" class="btn blue">OUTBOUND PAYMENTS ENTRY</a>
        <a href="/dashboard" class="btn red">DASHBOARD</a>
    </div>

</body>

</html>
